.card{
    max-height: 400px;
    margin-top: 15px;
    width: 70% !important;
}

.card-row{
    padding: 15px 20px;
}



.card-stats{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 250px;

}

.card-img-container{
    display: flex;
    justify-content: center;
}

.card-img{
    object-fit: cover;
    max-width: 225px;
    max-height: 250px;
}
