.card{
    max-height: 400px;
    width: 70%;
    margin-top: 15px;
}

.card-stats{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
}

.card-img-container{
    display: flex;
    padding-top: 20px;
    justify-content: end;
}

.card-img{
    object-fit: cover;
    max-width: 225px;
    max-height: 225px;
}
